.friends {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin: 0px auto;
  margin-top: 20px;
  background-color: #fff;
  border: 2px solid gray;
  border-radius: 5px;
  box-shadow: 8px 7px 8px -2px #000000;
  margin-bottom: 20px;
}

.friendsList {
  list-style: none;
  padding-left: 0;
  width: 80%;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 5px 4px 5px -4px gray;
  padding: 5px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.statusOnline {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
  margin-right: 10px;
}

.statusOffline {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin-right: 10px;
}

.avatar {
  margin-right: 10px;
}

.name {
  font-weight: 500;
}
