.statistics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 320px;
  min-height: 180px;
  margin: 0px auto;
  margin-top: 20px;
  background-color: #fff;
  border: 2px solid gray;
  border-radius: 5px;
  box-shadow: 8px 7px 8px -2px #000000;
  margin-bottom: 20px;
}

.title {
  font-weight: 400;
  color: gray;
}

.statList {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.label {
  font-size: 14px;
}
